<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Buscador de Peliculas y Series</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-title class="titl">Dale Like y Suscribete :)</ion-title>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="list-box" routerLink="/pelis"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="start">
      <ion-fab-button>
        <ion-icon name="home" routerLink="/home"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
